:root {
    --black-color: #000000;
    --grey-color: #1A1A1A;
    --light-grey-color: #ffffffa3;
    --pre-color: #E3E3E3;
    --green-color: #85d996;
    --blue-color: #a4cdfe;
    --font-family: 'Arimo', sans-serif;
}

body {
    padding: 0;
    margin: 0 10px;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: var(--font-family);
}

pre {
    display: block;
    border-radius: 7px;
    padding: 16px;
    background-color: var(--grey-color);
    overflow-x: scroll;
    color: var(--pre-color);
}

.logo {
    display: flex;
    justify-content: center;
    margin: 26px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

@media (max-width: 600px) {
    .content {
      width: 100%;
    }
  }

.header {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background-color: var(--grey-color);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
}

.footer a {
    color: var(--light-grey-color);
}

.green {
    color: var(--green-color);
}

.blue {
    color: var(--blue-color);
}
