:root {
    --main-bg-color: #000000;
    --pre-bg-color: #1A1A1A;
    --pre-color: #E3E3E3;
    --green-color: #85d996;
    --blue-color: #85d996;
    --font-family: 'Arimo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: var(--font-family);
}

pre {
    display: block;
    margin: auto;
    border-radius: 7px;
    padding: 16px;
    background-color: var(--pre-bg-color);
    overflow-x: auto;
    margin-bottom: 16px;
    color: var(--pre-color);
}

.header {
    padding-bottom: 20px;
}

.green {
    color: var(--green-color);
}

.blue {
    color: var(--blue-color);
}